<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">

  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Online Shopping for Women, Men, Kids Fashion & Lifestyle</title>
    <link rel="stylesheet" href="/css/index.css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="/css/utils.css" th:href="@{/css/utils.css}"/>
    
  </head>
<body>
    <!-- <header class="containerHeader">
        <nav class="flex space-between">
         <div class="left flex items-center">
            <img src="E:\demo\demo\src\main\resources\static\images\logo.png"/>
            <ul class="flex items-cente justify-center uppercase semibold">
            <a href="E:\demo\demo\src\main\resources\templates\home.html" style="color: black;"><li>Home</li></a>
            <a href="E:\demo\demo\src\main\resources\templates\men.html" style="color: black;"><li>Men</li></a>
            <a href="E:\demo\demo\src\main\resources\templates\women.html" style="color: black;"><li>Women</li></a>
            <a href="E:\demo\demo\src\main\resources\templates\kids.html" style="color: black;"><li>Kids</li></a>
              <li>Home</li>
             <li>Beauty</li>
             <li>Studio</li> -->
            </ul>
         </div>
         <div class="right flex items-center">
            <img src="E:\demo\demo\src\main\resources\static\images\search.png"/>
            <input class="search" placeholder="search for products,brands and more" value="" data-reactid="904">
            <div class="rightBox">
            <div class="profile mx-2" style="font-weight: bolder;"> <!--<img src="E:\Final_Project\images\profile.png"/>--><a href="E:\Final_Project\profile.html" style="color: black;">Profile</a><br></div>
            <div class="wishlist mx-2" style="font-weight: bolder;"> <!--<img src="E:\Final_Project\images\wishlist.png"/>--><a href="E:\Final_Project\wishlist.html" style="color: black;">Wishlist</a><br></div>
            <div class="bag mx-2" style="font-weight: bolder;"> <!--<img src="E:\Final_Project\images\bag.png"/>--><a href="E:\Final_Project\bag.html" style="color: black;">Bag</a><br></div>
          </div>
         </div>
        </nav>
        </header>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <section class="container section1">
           <img class="homeimg" src="E:\demo\demo\src\main\resources\static\images\front.png"/>
            <img class="homeimg"
            src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/13/e34b394c-36b1-4774-8639-5aeb2c5716121652442642122-DK-TSHIRT-67--1-.gif"/>
            <img class="homeimg"
            src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/5/7/1e599d37-1ed6-4e39-9057-ffb4065173b51651897264796-Unbelievable-Deals.jpg"/>
        </section>
        <section class="container section1 flex flex-wrap">
         <img class="itemimg" src="E:\demo\demo\src\main\resources\static\images\deals.png"/>
         <img class="itemimg" src="E:\demo\demo\src\main\resources\static\images\deals1.png"/>
         <img class="itemimg" src="E:\demo\demo\src\main\resources\static\images\deals2.png"/>
         <img class="itemimg" src="E:\demo\demo\src\main\resources\static\images\deals3.png"/>
         <img class="itemimg" src="E:\demo\demo\src\main\resources\static\images\deals4.png"/>
         <img class="itemimg" src="E:\demo\demo\src\main\resources\static\images\deals5.png"/>
         <img class="itemimg" src="E:\demo\demo\src\main\resources\static\images\deals6.png"/>
         <img class="itemimg" src="E:\demo\demo\src\main\resources\static\images\deals7.png"/>
        </section>
        <section class="container section2">
            <img class="homeimg" src="E:\demo\demo\src\main\resources\static\images\front1.png"/>
            </section>
        <section class="container section2 flex flex-wrap">
            <img class="itemimg" src="E:\demo\demo\src\main\resources\static\images\brand.png"/>
            <img class="itemimg" src="E:\demo\demo\src\main\resources\static\images\brand1.png"/>
            <img class="itemimg" src="E:\demo\demo\src\main\resources\static\images\brand2.png"/>
            <img class="itemimg" src="E:\demo\demo\src\main\resources\static\images\brand3.png"/>
            <img class="itemimg" src="E:\demo\demo\src\main\resources\static\images\brand4.png"/>
            <img class="itemimg" src="E:\demo\demo\src\main\resources\static\images\brand5.png"/>
            <img class="itemimg" src="E:\demo\demo\src\main\resources\static\images\brand6.png"/>
            <img class="itemimg" src="E:\demo\demo\src\main\resources\static\images\brand7.png"/>
           </section>
           <section class="container section3">
            <img class="homeimg" src="E:\demo\demo\src\main\resources\static\images\front2.png"/>
            </section>
        <section class="container section3 flex flex-wrap">
            <img class="itemimg" src="E:\demo\demo\src\main\resources\static\images\category.png"/>
            <img class="itemimg" src="E:\demo\demo\src\main\resources\static\images\category1.png"/>
            <img class="itemimg" src="E:\demo\demo\src\main\resources\static\images\category2.png"/>
            <img class="itemimg" src="E:\demo\demo\src\main\resources\static\images\category3.png"/>
            <img class="itemimg" src="E:\demo\demo\src\main\resources\static\images\category4.png"/>
            <img class="itemimg" src="E:\demo\demo\src\main\resources\static\images\category5.png"/>
           </section>
           <section class="extra"></section>
           <section class="box" font-family: 'Roboto', sans-serif;>
           <h4 style="font-weight: bolder;">Popular Searches</h4>
           <p style="font-weight: lighter;">Makeup | Dresses For Girls | T-Shirts | Sandals | Headphones | Babydolls | Blazers For Men | Handbags | Ladies Watches | Bags | Sport Shoes | Reebok Shoes | Puma Shoes | Boxers | Wallets | Tops | Earrings | Fastrack Watches | Kurtis | Nike | Smart Watches | Titan Watches | Designer Blouse | Gowns | Rings | Cricket Shoes | Forever 21 | Eye Makeup | Photo Frames | Punjabi Suits | Bikini | Myntra Fashion Show | Lipstick | Saree | Watches | Dresses | Lehenga | Nike Shoes | Goggles | Bras | Suit | Chinos | Shoes | Adidas Shoes | Woodland | Shoes | Jewellery | Designers | Sarees</p>
            </section>
           <footer>
            <p>In case of any concern, <span style="color: blue;" style="text-align: left;">Contact Us</span></p>
            <p class="footer-copyright" style="text-align: right;">© 2023 www.onlineshop.com. All rights reserved.</p>
            </footer>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
</body>
</html>